@page
@model Crud.Pages.CategoryCrud.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Delete Category</h3>
<div>

    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Group)
        </dd>
    </dl>
    <input  type="checkbox" valaue="Confirm to delete"/> 
    
    <form method="post">
        <input type="hidden" asp-for="Category.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index"class="btn btn-secondary">Cancel</a>
    </form>
</div>
